
.wrapper{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
    background-color: salmon;
    border-radius: 10px;
    
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.wrapper img{
    width: 150px;
    height: 150px;
}